
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@model ZORI_KIDS_KG.Models.DashboardViewModel

<link href="~/css/Tree.css" rel="stylesheet">

<section class="content-header">
    <h1>
        Panou Administrare
        <small>Vizualizare generala</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-controller="Dashboard" asp-action="Index"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Panou Administrare</li>
    </ol>
</section>
<section class="content">    
    <div class="row justify-content-center">
        <div class="col-lg-3 col-xs-6">            
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.asociatie_count</h3>
                    <p>Asociatii</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a asp-controller="Asociatie" asp-action="Index" class="small-box-footer">Mai multe informatii <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>       
        <div class="col-lg-3 col-xs-6">            
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.parinte_count<sup style="font-size: 20px"></sup></h3>
                    <p>Parinti</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <a asp-controller="Parinte" asp-action="Index" class="small-box-footer">Mai multe informatii <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>        
        <div class="col-lg-3 col-xs-6">            
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.copil_count</h3>
                    <p>Copii</p>
                </div>
                <div class="icon">
                    <i class="fa fa-child "></i>
                </div>
                <a asp-controller="Copil" asp-action="Index" class="small-box-footer">Mai multe informatii <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>        
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.admin_count</h3>
                    <p>Administratori</p>
                </div>
                <div class="icon">
                    <i class="fa fa-warning"></i>
                </div>
                <a asp-controller="Admins" asp-action="Index" class="small-box-footer">Mai multe informatii <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>        
    </div>    
    <div class="row justify-content-center">
        <section class="col-lg-5 connectedSortable">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Grafic utilizatori</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
                </div>
            </div>           
        </section>

        @*<section class="col-lg-7 connectedSortable">
            <div class="row">
                <div class="col-sm-12">                    
                        
                    @foreach (DashboardViewModel item in Model)
                    {
                        <div class="treeview-animated w-20 border border-secondary mx-4 my-4">                            
                            <h6 class="pt-3 pl-3">Vizualizare Relatii</h6>
                            <ul class="treeview-animated-list mb-3">
                                <li class="treeview-animated-items">
                                    <a class="treeview-animated-items-header">
                                        <i class="fa fa-plus-circle"></i>
                                        <span><i class=""></i>@item.Asociatie</span>
                                    </a>
                                    <ul class="nested">                                        
                                        <li class="treeview-animated-items">
                                            <a class="treeview-animated-items-header">
                                                <i class="fa fa-plus-circle"></i>
                                                <span><i class=""></i>@item.Parinte</span>
                                            </a>
                                            <ul class="nested">
                                                <li>
                                                    <div class="treeview-animated-element"><i class=""></i>@item.Copil</div>
                                                </li>                                                
                                            </ul>
                                        </li>
                                    </ul>
                                </li>                          
                                                                
                            </ul>
                        </div>
                     }
                </div>
            </div>
        </section>*@

    </div>
</section>

<script src="~/bower_components/raphael/raphael.min.js"></script>
<script src="~/bower_components/morris.js/morris.min.js"></script>
<script> 
    (function ($) {

        let $allPanels = $('.nested').hide();
        let $elements = $('.treeview-animated-element');

        $('.treeview-animated-items-header').click(function () {
            $this = $(this);
            $target = $this.siblings('.nested');
            $pointerPlus = $this.children('.fa-plus-circle');
            $pointerMinus = $this.children('.fa-minus-circle');

            $pointerPlus.removeClass('fa-plus-circle');
            $pointerPlus.addClass('fa-minus-circle');
            $pointerMinus.removeClass('fa-minus-circle');
            $pointerMinus.addClass('fa-plus-circle');
            $this.toggleClass('open')
            if (!$target.hasClass('active')) {
                $target.addClass('active').slideDown();
            } else {
                $target.removeClass('active').slideUp();
            }

            return false;
        });
        $elements.click(function () {
            $this = $(this);

            if ($this.hasClass('opened')) {

                $elements.removeClass('opened');
            } else {

                $elements.removeClass('opened');
                $this.addClass('opened');
            }
        })
    })(jQuery);
  $(function () {
    "use strict";    
    var donut = new Morris.Donut({
      element: 'sales-chart',
      resize: true,
      colors: ["#3c8dbc", "#f56954", "#00a65a"],
      data: [
        {label: "Asociatii inregistrate: ", value: @Model.asociatie_count},
          { label: "Parinti inregistrati: ", value: @Model.parinte_count},
          { label: "Copii inregistrati: ", value: @Model.copil_count}
      ],
      hideHover: 'auto'
    });
  });


</script>